:root {
--primary-color: #004327;
--secondary-color: #191A74;
--accent1-color: #B2B8BD;
--accent2-color: #647972;
--heading-font: "Raleway", sans-serif;
--body-font: "Roboto", sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    padding: 30px;
}

header img {
    border: 1px solid rgb(0 0 0 / 1);
    max-width: 200px;
    justify-self: center;
}

.navigation {
    display: flex;
	flex-wrap: wrap;
	list-style: none;
    align-items: center;
}

.navigation a {
    padding: 15px;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 1);
}

.hero article img {
    float: right;
    width: 125px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.contact-h1 {
    position: relative;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 1rem;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.history p {
    color: black;
}

.history img {
    max-height: 200px;
    width: auto;
    border: 1px solid rgb(0 0 0 / 0.1);
}

article {
    position: absolute;
    bottom: 30px;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

.adventures {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figure {
    text-align: center;
    color: black;
}

.adventures img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--primary-color);
    
}

.socialmedia {
    grid-column: 3;
    justify-self: end;
}

.socialmedia img {
    width: 30px;
}

footer p {
    grid-column: 2;
    color: #fff;
    text-align: center;
} 

.contacts {
    padding: 1rem;
    color: var(--accent2-color);
}

form {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

label {
    text-align: left;
    padding-right: 1rem;
    color: var(--accent2-color);
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

textarea::placeholder {
    color: var(--accent1-color);
}

button {
    background-color: var(--accent1-color);
    margin: 1rem;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    justify-self: center;
}

button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.wireframe {
    background-color: var(--accent1-color);
    width: 100px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.staff {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.staff img {
    border: 1px solid rgb(0 0 0 / 0.1);
    width: 200px;
    height: 200px;
}

/* Edited June 7 2025 */